Expliquer ce qu’est un KPI (avec vos mots)?

In [ ]:
Un Kpi est un indicateur de perfomance clé.

In [ ]:
Importer les librairies pandas et numpy

In [87]:
import pandas as pd 
import numpy as np 
print('libs loaded')

libs loaded

Importer et le dataset ‘resto_eval.csv’

In [88]:
resto = pd.read_csv("./resto_eval.csv")
resto

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Afficher les 12 premières lignes du dataset

In [89]:
restotwelve = pd.read_csv("./resto_eval.csv", nrows=12)
restotwelve

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,10,5,1,Chips and Guacamole,NaN,$4.45
11,11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

Afficher les dimensions du dataset (sa taille)

In [90]:
resto.shape

(4622, 6)

le dataset contient 4622 ligne et 6 colonnes

6) Afficher, et décrire les colonnes de notre dataset (0.5pt)

In [91]:
resto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4522 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

colonne 1 => unanmed qui est un int non null 
colonne 2 => order_id qui est un int non null 
colonne 3 => quantity qui est un int non null 
colonne 4 => item_name qui est un objet non null 
colonne 5 => choice_description qui est objet non null 
colonne 6 => item_price qui est objet non null

7) Afficher les statistiques descriptives du dataset (0.5pt)

In [92]:
resto.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

8) Quel est l’item le plus commandé ? (1pt)

In [93]:
resto['item_name'].describe()

count             4622
unique              50
top       Chicken Bowl
freq               726
Name: item_name, dtype: object

L'item le plus commandé est le Chicken Bowl avec 726

9) Combien d’items ont été commandés au total

In [94]:
qty = resto['quantity'].sum()

Le nombre d'item commandé est de 4972

10)Combien de chiffre d’affaire à realisé la société

In [99]:
drop_na = resto.dropna()
resto_replace = drop_na['item_price'].replace('[\$,]', '', regex=True).astype(float)
resto['total'] = (resto['quantity'] * resto_replace)
resto['total'].sum()

33601.979999999996

In [ ]:
le CA du resto est de 33601.97$

11)Quel est le revenu moyen par commande ? (2pt)

In [101]:
resto['total'].mean()

9.953193127962084

In [ ]:
la moyenne par commande est de 9.95$